.cart{
  display: flex;
}
.cart > div {
  width: 400px;
  height: 500px;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
.cart > div img {
  width: 200px;
  height: 300px;
}
.quantity-box{
  display: flex;
  align-items: center;
  gap:5px;
}
