.homepage {
  width: 100%;
  height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/01/07/00/50/240_F_107005010_vHGDB9kSbCKY0bYpYkGd9oAhgmSY9f8v.jpg");
  background-size: cover;
}
.divide {
  display: flex;
  align-items: center;
}
.divide>div {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: midnightblue;
}
